@charset "UTF-8";
*{word-wrap: break-word;}
html {-webkit-text-size-adjust: none; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span{padding:0;margin:0;}
body{font:normal 14px/24px "Microsoft Yahei","冬青黑体简体中文 w3","宋体"; }
fieldset,img,html,body,iframe{border:0;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal;}
caption,th{text-align:left;}
em,i,small,caption,th{font-weight:normal;font-style:normal;font-size:100%;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;font-size:100%;}
q:before,q:after{content:'';}
.clearfix{*zoom:1;}
.clearfix:after{content:"."; display:block;clear:both;visibility:hidden;line-height:0;height:0;}
a{color: #333;text-decoration: none;}
a img {border: none;}
a,button{ outline:none; border:0;}
input,select{border:1px solid #ccc;}
button::-moz-focus-inner{border:0;padding:0;margin:0;}
textarea,input,button,select{outline:0;font-size:inherit;line-height:inherit;color:inherit;font-family:inherit;}
textarea{overflow:auto;resize:none;}

.hide,.none{display: none}
.hidden{visibility: hidden;}
.show,.block{display: block;}
img{ vertical-align:middle}
input:disabled,select:disabled,textarea:disabled{background:#ccc;}
.fl{float: left;}
.fr{float: right;}
.red{color:red;}
.green{color:green;}

/*改变谷歌滚动条的样式*/
::selection{background:pink;}
::-webkit-scrollbar{width:8px;height:6px;background:#ccc;}
::-webkit-scrollbar-button{background-color:#e5e5e5;}
::-webkit-scrollbar-track{background:#999;}
::-webkit-scrollbar-track-piece{background:#ccc}
::-webkit-scrollbar-thumb{background:#666;}
::-webkit-scrollbar-corner{background:#82AFFF;}
::-webkit-scrollbar-resizer{background:#FF0BEE;}
scrollbar{-moz-appearance:none !important;background:rgb(0,255,0) !important;}
scrollbarbutton{-moz-appearance:none !important;background-color:rgb(0,0,255) !important;}
scrollbarbutton:hover{-moz-appearance:none !important;background-color:rgb(255,0,0) !important;}
/* 隐藏上下箭头 */
 scrollbarbutton{display:none !important;}
/* 纵向滚动条宽度 */
 scrollbar[orient="vertical"]{min-width:12px !important;}
 /*
 	1366*768 1440*900 div---如果你是用fixed的div层的高度一定要控制在：520px以内 
 */
 .w180{width: 164px;}
 .w200{width: 200px;}
 .w240{width: 240px;}
 .w248{width: 248px;}
 .w260{width: 260px;}
 .w360{width: 360px;}
 .w375{width: 375px;}
 /*自动省略号*/
 .tmui-ellipsis{display:block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
 /*阴影层*/
.tzui-loading-overlay,.tmui-overlay{width:100%;height:100%;background-color:#141414;position:fixed;top:0;left:0;z-index:99;filter:alpha(opacity=58);-moz-opacity:0.58;-khtml-opacity:0.58;opacity:0.58;}